@import './colors';
@import './globalClasses';
@import './animations';

.border{
     width: 60%;
     transition: 2s;
     border: 3px solid #a16106;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     .contactUs{
          background: rgb(222, 250, 137);
          width: 95%;
          margin: 5% 0;
          aspect-ratio: 100/50;
          overflow: scroll;
          &::-webkit-scrollbar{
               display:none;
          }
     }
     
}