@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
.border {
  width: 60%;
  transition: 2s;
  border: 5px solid #a16106;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.border .contactUs {
  background: yellowgreen;
  width: 90%;
  margin: 10% 0;
}

.Header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: -2vw;
}
.Header .ContactBar {
  width: 100%;
  background: #353839;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  aspect-ratio: 100/2;
}
.Header .ContactBar .QuickContact {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Header .ContactBar .QuickContact dl {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Header .ContactBar .QuickContact dl .Col {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.Header .ContactBar .QuickContact dl .Col dt {
  display: flex;
  align-items: center;
  vertical-align: center;
  justify-content: center;
}
.Header .ContactBar .QuickContact dl .Col dt i {
  font-size: 22px;
  vertical-align: center;
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.Header .ContactBar .QuickContact dl .Col dt .green {
  color: #4ECB71;
}
.Header .ContactBar .QuickContact dl .Col dt .wood {
  color: #FFC87C;
}
.Header .ContactBar .QuickContact dl .Col dd {
  font-size: 16px;
  color: #FFFBFB;
  font-weight: 600;
  line-height: 12.52px;
  letter-spacing: 1px;
}
.Header .ContactBar .SocialMedia {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.Header .ContactBar .SocialMedia span {
  width: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  padding: 2.5px;
}
.Header .ContactBar .SocialMedia span:hover {
  background: #a16106;
  color: violet;
  border-radius: 30%;
  cursor: pointer;
  transition: 0.5s;
  padding: 5px;
}
.Header .ContactBar .SocialMedia span:hover i {
  font-size: 15px;
}
.Header .ContactBar .SocialMedia span i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #FFFBFB;
}
.Header .MainNavBar {
  width: 100%;
  aspect-ratio: 100/5;
  background: rgba(56, 54, 54, 0.6509803922);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Header .MainNavBar .CompanyLogo {
  width: 42.5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Header .MainNavBar .CompanyLogo .title {
  width: 70%;
}
.Header .MainNavBar .CompanyLogo .Logo {
  width: 30%;
  display: flex;
  align-items: center;
}
.Header .MainNavBar .CompanyLogo .Logo img {
  width: 80px;
  aspect-ratio: 100/95;
  border-radius: 50%;
}
.Header .MainNavBar .Navbar {
  width: 42.5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.Header .MainNavBar .Navbar ul {
  width: 60%;
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: space-between;
}
.Header .MainNavBar .Navbar ul li {
  width: 22.5%;
  margin: 5px 0;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #f0ddc3;
}
.Header .MainNavBar .Navbar ul li:hover {
  background: #a16106;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.6s;
}
.Header .MainNavBar .Navbar ul .ContactUs {
  border: 1px solid #ff9909;
  border-radius: 4px;
  margin-left: 5%;
}
.Header .MainNavBar .Navbar ul .ContactUs:hover {
  background: #a16106;
  color: white;
  cursor: pointer;
}
.Header .displayNotMe {
  display: none;
}
.Header .displayMe {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  background-color: rgba(107, 57, 16, 0.644);
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: 2s;
}

.Home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -5vw;
  z-index: -1;
}
.Home .Intro-section {
  width: 100%;
  aspect-ratio: 100/50;
  background: url("./components/Images/home_image1.jpg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}/*# sourceMappingURL=App.css.map */